{% extends 'base.html.twig' %}
{% block title 'Mon Agence' %}
{% block body %}
    <div class="container">
        <h1>Bienvenue sur Home page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis consequatur fuga illum itaque nam perspiciatis quidem tempore. Accusamus deleniti doloribus earum nostrum odit perferendis placeat porro, reiciendis repellat veritatis?</p>
    </div>

{% endblock %}